@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
:root {
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Oswald', Verdana, sans-serif;
}
body {
    font-family:var(--fonte-padrao);
    background-color: antiquewhite;
}
header{
    background-color: #3C5E73;
    text-align: center;
}
header > h1 {
    font-family: ;
    color: white;
    padding: 40px;
    
}
header > p {
    color: white;
    padding-bottom: 25px;
}
nav {
    padding: 10px;
    background-color: #AB126D;
    text-align: left;
}
nav > a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}
nav > a:hover {
    text-decoration: underline;
    font-weight: bold;
}
main > article {
    background-color: #BEB8BA;
    padding: 0px 25px 25px 25px;
}
main > article > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: white;
    width: auto;
    padding: 20px;
}
article > p {
    text-indent: 10px;
    background-color: white;
    padding: 20px;
    text-align: justify;
}
main > aside {
    padding: 20px;
    background-color: #BEB8BA;
    text-align: justify;
}
aside > p {
    background-color: white;
    padding: 25px;
}
footer {
    padding: 10px;
    background-color: #AB126D;
    color: white;
    text-align: center;
}