@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
:root {
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Oswald', Verdana, sans-serif;
}
body {
    font-family:var(--fonte-padrao);
    background-color: #BEB8BA;
}
header{
    background-color: #3C5E73;
    text-align: center;
}
header > h1 {
    font-family: ;
    color: white;
    padding: 30px 8px 25px 8px;
    font-size: 2.7em;
}
header > p {
    color: white;
    padding-bottom: 25px;
}
nav {
    padding: 10px;
    background-color: #AB126D;
    text-align: left;
}
nav > a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    text-decoration: underline;
    font-weight: bolder;
    color: rgb(181, 175, 175);
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}
main > article {
    padding: 0px 20px 20px 20px;
}
main > article > h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 1.5em;
    background-color: rgba(233, 233, 103, 0.66);
    color: white;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.434);
    width: auto;
    padding: 8px 10px 8px 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.312);
}
article > p {
    text-indent: 10px;
    background-color: white;
    padding: 17px;
    text-align: justify;
    line-height:30px;
}
article > p > a {
    text-decoration: none;
    color: #AB126D;
    font-weight: bold;
}
article > p > a:hover {
    text-decoration: underline;
    font-weight: bolder;
    
}
article > ul.albuns {
    columns: 1;
    padding: 8px 10px 8px 20px;
    background-color: white;
    list-style-position: inside;
    list-style-type:'\1F3B5\00A0\00A0';
}
main > aside {
    padding: 15px 20px 10px 20px;    
}
aside > h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: #b499a1;
    padding: 7px;
    padding-left: 15px;;
}
main > aside > p {
    background-color: white;
    text-align: justify;
    padding: 10px 10px 10px 15px;
    margin: auto;
    
}
main > aside > h3 {
    background-color: #b499a1;
}
aside > ul {
    columns: 2;
    background-color: white;
    padding: 8px 10px 10px 20px;
    list-style-type:'\1F539';
    list-style-position: inside;
}
ul > li {
    line-height: 25px;
}
footer {
    padding: 10px;
    background-color: #AB126D;
    color: white;
    text-align: center;
}
div.tv {
    background-color: white;
    text-align: center;
    padding: 15px;
}
div.cinema {
    background-color: white;
    margin: auto;
    padding: 15px;
}